body {
  font-family: Arial, sans-serif;
  background: #f4f4f9;
  padding: 20px;
  text-align: center;
  
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

#chart {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#tooltip {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  font-size: 12px;
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

}
